.ui-d-n {
  display: none;
}
.datepicker {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
  -webkit-user-select: none;
  white-space: nowrap;
}
.datepicker a,
.datepicker button,
.datepicker input,
.datepicker textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.datepicker a {
  text-decoration: none;
}
.datepicker_show .datepicker__mask {
  -moz-opacity: 0.6;
  /* 老版Mozilla */
  -khtml-opacity: 0.6;
  /* 老版Safari */
  opacity: 0.6;
  /* 支持opacity的浏览器*/
}
.datepicker_show .datepicker__main {
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.datepicker__mask {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11001;
  -moz-opacity: 0;
  /* 老版Mozilla */
  -khtml-opacity: 0;
  /* 老版Safari */
  opacity: 0;
  /* 支持opacity的浏览器*/
  -moz-transition: -moz-opacity 0.5s linear 0s;
  -ms-transition: -ms-opacity 0.5s linear 0s;
  -webkit-transition: -webkit-opacity 0.5s linear 0s;
  -o-transition: -o-opacity 0.5s linear 0s;
  transition: opacity 0.5s linear 0s;
}
.datepicker__main {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 11003;
  width: 100%;
  height: auto;
  background-color: #fff;
  background-clip: padding-box;
  overflow: hidden;
  -moz-transition: -moz-transform 0.3s ease-in-out 0s;
  -ms-transition: -ms-transform 0.3s ease-in-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0s;
  -o-transition: -o-transform 0.3s ease-in-out 0s;
  transition: transform 0.3s ease-in-out 0s;
  -ms-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.datepicker__time-selector-item {
  display: inline-block;
  width: 50%;
  height: 40px;
  line-height: 40px;
  position: relative;
}
.datepicker__time-selector-arrow {
  position: absolute;
  top: 0;
  font-size: 1.6em;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #4eccc4;
}
.datepicker__time-selector-next {
  right: 0;
}
.datepicker__time-selector-text {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #333;
}
.datepicker__week-list {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #4eccc4;
  list-style-type: none;
}
.datepicker__week-item {
  width: 14.2857%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  float: left;
  color: #4eccc4;
  display: inline-block;
}
.datepicker__panel {
  overflow: hidden;
  position: relative;
  height: 281px;
}
.datepicker__day-wrap {
  width: 100%;
  height: 281px;
}
.datepicker__day-list {
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  position: absolute;
  left: 0;
  -moz-transition: -moz-transform 0.2s ease-in-out 0s;
  -ms-transition: -ms-transform 0.2s ease-in-out 0s;
  -webkit-transition: -webkit-transform 0.2s ease-in-out 0s;
  -o-transition: -o-transform 0.2s ease-in-out 0s;
  transition: transform 0.2s ease-in-out 0s;
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.datepicker__day-list_prev {
  -ms-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.datepicker__day-list_next {
  -ms-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.datepicker__day-item {
  width: 14.2857%;
  height: 40px;
  font-size: 0.875em;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  float: left;
  cursor: pointer;
}
.datepicker__day-item_active {
  background-color: #4eccc4;
  color: #fff;
}
.datepicker__day-item_gray {
  color: #999;
}
.datepicker__footer {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.datepicker__btn {
  display: inline-block;
  color: #5F99EF;
  text-align: center;
  padding: 5px 10px;
  float: right;
  cursor: pointer;
}
